<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Coffeemug_ControllerExample::greetings" title="Greetings" translate="title" sortOrder="50">
                    <resource id="Coffeemug_ControllerExample::greetings_secret" title="Secret Params" translate="title" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
