<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_front_send_response_before">
        <observer name="coffeemug_logrouter_capture_html" instance="Coffeemug\LogRouter\Observer\CaptureHtmlObserver"/>
    </event>
</config>