<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="coffeemug_second_event_predispatch_observer" instance="Coffeemug\SecondModule\Observer\ControllerActionPredispatchObserver"/>
    </event>
</config>